<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>All Response data</h4>
            <span ng-show="{{ responseDatas.length == 0 }}">No data. <a class="btn btn-primary" ng-href="#/new">New</a></span>
            <div class="table-responsive" ng-show="{{ responseDatas.length }}">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>ID</th>
                        <th>Date</th>
                        <th>URL</th>
                        <th>Time</th>
                        <th>Edit</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="responseData in responseDatas">
                        <td>{{ responseData.id }}</td><td>{{ responseData.date }}</td><td ng-bind-html="responseData.url | linky"></td><td>{{ responseData.time }}</td>
                        <td><a class="btn btn-xs" data-title="Delete" data-toggle="modal" ng-href="#/edit/{{ responseData.id }}" data-placement="top" rel="tooltip"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        </tr>
                    </tbody>
                </table>
                <span class="pull-right"><a class="btn btn-primary" ng-href="#/new">Add</a></span>
            </div>
        </div>
    </div>
</div>
