<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>All Response data for <a ng-href="{{ url }}" target="_new">{{ url }}</a> ({{ responseDatas.length }})</h4>
            <div class="table-responsive" ng-show="responseDatas">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th><a href="" ng-click="predicate = 'date'; reverse=false">Date</a>
    (<a href="" ng-click="predicate = '-date'; reverse=true">^</a>)</th>
                        <th>Response</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="responseData in responseDatas | orderBy:predicate | paginate:currentPage*pageSize | limitTo:pageSize">
                        <td>{{ responseData.date }}</td><td>{{ responseData.time }}</td>
                        </tr>
                    </tbody>
                </table>
                <span class="pull-right">
                    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                        Previous
                    </button>
                    {{currentPage+1}}/{{numberOfPages()}}
                    <button ng-disabled="currentPage >= responseDatas.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                        Next
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<form name="responseInputForm" class="form-horizontal" ng-submit="save()">
     <div class="form-group">
        <label for="range" class="col-sm-3 control-label">Range</label>
        <div class="col-sm-9">
            <input type="number" id="range" ng-model="range" ng-change="redraw()" required></input>
        </div>
    </div>
</form>
<div class="row">
    <highchart id="chart1" config="chartConfig" class="col-md-10"></highchart>
</div>


